<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css"/>
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="../js/bootstrap-bootbox/bootbox.all.min.js"></script>
</head>
<body>
<button onclick="openAddUserDialog()" type="button" class="btn btn-info glyphicon glyphicon-plus">新增</button>
<div id="userTable" class="table"></div>
</body>
<script>
    $(function () {
        queryUserTable();
    })



    function selectById(userId){
        bootbox.dialog({
            title:'<i class="glyphicon glyphicon-book"></i>修改用户',
            message:createContent('../selectById/'+userId),
            size:'large',
            buttons:{
                cancel:{
                    label:'<i class="glyphicon glyphicon-remove"></i>取消',
                    className:'btn-danger',
                    callback:function(){
                    }
                },
                ok:{
                    label:'<i class="glyphicon glyphicon-ok"></i>保存',
                    className:'btn-success',
                    callback:function(){
                        saveUser();
                    }
                }
            }
        })
    }

    function openAddUserDialog(){
        bootbox.dialog({
            title:'<i class="glyphicon glyphicon-book"></i>新增用户',
            message:createContent('../toAddUserPage'),
            size:'large',
            buttons:{
                cancel:{
                    label:'<i class="glyphicon glyphicon-remove"></i>取消',
                    className:'btn-danger',
                    callback:function(){
                    }
                },
                ok:{
                    label:'<i class="glyphicon glyphicon-ok"></i>保存',
                    className:'btn-success',
                    callback:function(){
                        saveUser();
                    }
                }
            }
        })
    }
    function saveUser(){
        $.ajax({
            url:'../saveOrUpdateUser',
            type:'post',
            data:$("#userForm").serialize(),
            dataType:'json',
            success:function(data){
                alert(data);
            }
        })
    }
    var res;
    function createContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }

    function queryUserTable(){
        $("#userTable").bootstrapTable({
            url:'../findUserList',
            method:'post',
            contentType:'application/x-www-form-urlencoded',//post请求按照表单方式
            columns:[
                {field:'userId',title:'用户id'},
                {field:'userName',title:'用户名字'},
                {field:'gender',title:'性别'},
                {field:'birthday',title:'生日'},
                {field:'hobbyName',title:'爱好'},
                {field:'cz',title:'操作',formatter:function (value,row,index) {
                        return '<a href="javascript:deleteUser('+row.userId+');" >删除</a> | <a href="javascript:selectById('+row.userId+');" >修改</a>'
                    }}
            ]
        })
    }


    function deleteUser(userId) {
        $.post('../deleteUser',{userId:userId},function (data) {
            $("#userTable").bootstrapTable('refresh')
        })
    }



</script>
</html>